header,
nav,
section,
.content,
.benefit-box,
.box,
.benefit-text,
.benefit-hover,
footer,
.left,
footer nav,
.follow-us,
.socmed {
  display: flex;
  justify-content: center;
}

/***

----------- HERO SECTION STYLE BEGIN -----------

***/

section.hero,
.coming-soon {
  min-width: 100vh;
  /* overflow: hidden; */
  justify-content: flex-end;
  align-items: center;
  background-color: #be3a1d;
  height: 90vh;
  z-index: -101;
}

.hero,
.coming-soon {
  position: relative;
}

.title,
.coming-soon-text {
  width: 50%;
  color: #f8f8f8;
  background-color: rebeccapurple;
}

.title h1 {
  font-size: 4em;
  margin-right: 1em;
}

.title h3 {
  font-weight: 400;
}

/***

----------- HERO SECTION STYLE END -----------

***/

/***

----------- VIDEO SECTION STYLE BEGIN -----------

***/

.video {
  align-items: center;
}

/***

----------- VIDEO SECTION STYLE END -----------

***/

/***

----------- WHY US SECTION STYLE BEGIN -----------

***/

.why-us {
  flex-direction: column;
  align-items: center;
}

.why-us h2 {
  margin-bottom: 2em;
}

.content {
  background-color: #f8f8f8;
  border-radius: 20px;
}

.why-us-box {
  width: 80%;
  height: 50%;
}

.img-bg {
  width: 80%;
  height: 100%;
  background-image: url("../img/maskot.png");
  background-color: #f0c27e;
  background-repeat: no-repeat;
  background-position: 30% center;
  background-size: 50%;
  transition: ease-in 0.5s;
}

.img-bg:hover {
  background-size: 80%;
  cursor: pointer;
}

.why-us p {
  padding: 1em;
  margin-top: 5em;
}

/***

----------- WHY US SECTION STYLE END -----------

***/

/***

----------- BENEFIT SECTION STYLE BEGIN -----------

***/

.benefit {
  flex-direction: column;
  align-items: center;
}

.benefit h2 {
  margin-bottom: 2em;
}

.box,
.benefit-hover {
  width: 15em;
  height: 18em;
}

.box {
  margin: 1.5em;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  transition: ease-in-out 0.5s;
  position: relative;
  overflow: hidden;
}

.benefit-icon {
  flex: 1.5;
}

.first-benefit,
.second-benefit,
.third-benefit,
.fourth-benefit {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.first-benefit {
  background-image: url("../img/icon-price.png");
}

.second-benefit {
  background-image: url("../img/icon-quality.png");
}

.third-benefit {
  background-image: url("../img/icon-preorder.svg");
}

.benefit-text {
  flex: 1;
  align-items: center;
}

.benefit-hover {
  position: absolute;
  top: 0%;
  transform: translateY(100%);
  transition: ease-in 0.5s;
  background-color: #f0f0f0;
  align-items: center;
  padding: 2em;
  text-align: center;
}

.box:hover .benefit-hover {
  transition: ease-in-out 0.5s;
  transform: translateY(0);
}

/***

----------- BENEFIT SECTION STYLE END -----------

***/

/***

----------- COMING SOON SECTION STYLE BEGIN -----------

***/

.coming-soon {
  background-image: url("../img/phone.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 10% 60%;
  background-color: #f5ebdc;
}

.coming-soon-text {
  color: #be3a1d;
}

footer {
  height: 15em;
  padding: 0 7em;
  background-color: #be3a1d;
  justify-content: space-between;
}

footer img {
  width: 40%;
}

footer a,
footer {
  color: #f5ebdc;
}

footer nav {
  flex-direction: column;
  margin-left: 5em;
}

.follow-us {
  width: 15em;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.follow-us img {
  width: 2em;
  margin: 0.3em;
}
