/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

/* OTHER CSS IMPORT */
@import "./homepage.css";
/* @import "./homepage_responsive.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #f5ebdc;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #be3a1d;
}

section {
  height: 101vh;
}

nav,
h1,
h2,
h3 {
  text-transform: capitalize;
}

.wrap {
  overflow: hidden;
}

/* scrollbar custom */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd3a1c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/***

----------- HEADER STYLE BEGIN -----------

***/

header {
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  width: 90%;
  /* max-width: 100vh; */
  margin: 0 auto;
}

header nav {
  width: 25em;
  justify-content: space-between;
}

nav a {
  font-size: 0.9em;
  color: #be3a1d;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

nav a,
.dropdown {
  position: relative;
}

/* ----- Nav Hover ----- */

nav a::after {
  content: "";
  width: 0%;
  height: 0.15em;
  background-color: #be3a1d;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

nav a:hover::after {
  left: 0%;
  width: 100%;
}

/* ----- Dropdown Hover ----- */

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  right: -100%;
  margin-top: 0.3em;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 101; */
}

.dropdown-content a,
.dropdown-hamburger-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eaeaea;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: ease-in-out 0.3s;
}

.active {
  display: none;
}

/* .hamburger-menu-cover {
  position: relative;
} */

/* .dropdown-hamburger-content {
  position: fixed;
  background-color: #f8f8f8;
  left: -30%;
  right: -30%;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 101;
}

.dropdown-hamburger-content a {
  padding: 3em 1em;
  text-align: center;
}

.line1 {
  transition: ease-in-out 0.5s;
}

.line2 {
  transition: ease-in-out 0.5s;
}

.line3 {
  transition: ease-in-out 0.5s;
}

.animate-line1 {
  transform: rotate(45deg) translateY(300%);
  transition: ease-in-out 0.5s;
}
.animate-line2 {
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.animate-line3 {
  transform: rotate(-45deg) translateY(-300%);
  transition: ease-in-out 0.5s;
}
 */

menu {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #be3a1d;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }

  menu {
    height: 92vh;
    background-color: #f8f8f8;
    position: absolute;
    right: -10%;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 120%;
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
  }
  .link {
    color: #be3a1d;
    text-decoration: none;
  }
  /* .link {
    opacity: 0;
  } */
}

/***

----------- HEADER STYLE END -----------

***/
